@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<div class="text-center">
    <h1 class="display-4">Career Constructor</h1>
</div>
<hr />
<br>
<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <h3>What It Is</h3>
                </div>
                <div class="col-9">
                    The Career Constructor is a platform for hiring professionals to screen applicants based on relevant technical knowledge, and is an opportunity for job seekers to highlight their own skills that may go unnoticed in a traditional interview. This is achieved using modular quizzes (acting as a supplement to the traditional hiring process) that test a candidate's coding abilities, software skills, and other talents.
                </div>
            </div>
            <br>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <h3>Why It's Needed</h3>
                </div>
                <div class="col-9">
                    The benefits of this application are twofold. First, the organization using Career Constructor can expect to save time and money during the hiring process due to automatically graded technical quizzes that screen applicants. This system rewards technical expertise and ensures that those hired are talented individuals and game-changers. Secondly, the applicants have the opportunity to showcase their abilities and will enjoy a more transparent hiring process. 
                </div>
            </div>
            <br>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <h3>Future Plans</h3>
                </div>
                <div class="col-9">
                    Career Constructor has many opportunities for growth. The platform is highly scalable and could be extended towards an onboarding portal, a company-wide hiring supplement, and more. As for our iteration of Career Constructor we would have liked to add permission-based roles, video questions, a back-end code checker, and many more.
                </div>
            </div>
            <br>
        </li>
    </ul>
</div>
