/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  float: left;
  text-align: center;
  word-break: break-all;
  /* white-space: normal; */
}

.navbar-brand-center {
  display: inline-flex;
  left: 0;
  right: 0;
  margin:0;
  float:none;
} 

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.nav-bar-logo {
  height: 50px;
  width: 45px;
  float: left;
}

/* tooltips */
.my-tooltip {
  position: relative;
  display: inline-block;
}

.my-tooltip .my-tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: #343a40;
  color: #f8f9fa;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;

  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  opacity: 0;
  transition: opacity 0.5s;

  margin-left: 10px;
}

.my-tooltip .my-tooltiptext::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent grey transparent transparent;
}

.my-tooltip:hover .my-tooltiptext {
  visibility: visible;
  opacity: 1;
  visibility: visible;
}

i.fa-event {
  float: right;
  font-size: 12px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgb(0, 0, 0);
  padding: 1.0em 1.0em;
  margin-top: 0px;
}

.my-table-striped tbody tr:nth-of-type(4n+1) {
  background-color: rgba(0, 0, 0, 0.05);
}

.columnOne {
  float: left;
  width: 70%;
  padding: 1%;
}
.columnTwo {
  float: right;
  width: 15%;
}
.columnThree {
  float: left;
  width: 15%;
}