@page
@model Hackathon.Pages_Questions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Name" class="control-label"></label>
                <input asp-for="Question.Name" class="form-control" />
                <span asp-validation-for="Question.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.NumPoints" class="control-label"></label>
                <input asp-for="Question.NumPoints" class="form-control" />
                <span asp-validation-for="Question.NumPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionType" class="control-label"></label>
                <select asp-for="Question.QuestionType" class="form-control"></select>
                <span asp-validation-for="Question.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionText" class="control-label"></label>
                <input asp-for="Question.QuestionText" class="form-control" />
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.QuestionCode" class="control-label"></label>
                <input asp-for="Question.QuestionCode" class="form-control" />
                <span asp-validation-for="Question.QuestionCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Correct_MCAnswer" class="control-label"></label>
                <input asp-for="Question.Correct_MCAnswer" class="form-control" />
                <span asp-validation-for="Question.Correct_MCAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.MCAnswers_JSON" class="control-label"></label>
                <input asp-for="Question.MCAnswers_JSON" class="form-control" />
                <span asp-validation-for="Question.MCAnswers_JSON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Tags_JSON" class="control-label"></label>
                <input asp-for="Question.Tags_JSON" class="form-control" />
                <span asp-validation-for="Question.Tags_JSON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

